.user-info{
    min-width: 100%;
    min-height: 100%;
}
.user-info .user-info-card{
    
}
.user-info .user-info-card .header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 15px;
    box-shadow: 1px 1px 3px #AAAAAA;
}
.user-info .user-info-card .header .user-information{
    display: flex;
}
.user-info .user-info-card .header .user-information .avater-con{
    display: flex;
    justify-content: space-evenly;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 30px;
}
.user-info .user-info-card .header .user-information .avater-con .avater{
    width: 60px;
    
}
.user-info .user-info-card .header .user-information .username{
    padding: 13px 20px;
    font-size: 18px;
    text-align: center;
}
.user-info .user-info-card .cards{
    margin: 100px 10px;
}
.user-info .user-info-card .cards .order-entry{
    margin-top: 10px;
    font-size: 14px;
    padding: 15px 20px;
    box-shadow: 1px 1px 1px #CCCCCC;
}
.user-info .user-info-card .cards .order-entry .head{
    display: flex;
    justify-content: space-between;
}
.user-info .user-info-card .cards .order-entry .head .main{
    font-weight: bold;
    letter-spacing: 0.5px;
}
.user-info .user-info-card .cards .order-entry .head .script{
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 1px;
}
.user-info .user-info-card .cards .order-entry .head .script .icon{
    font-size: small;
    vertical-align: middle;
}
.user-info .user-info-card .cards .order-entry .body{
}
.user-info .user-info-card .cards .order-entry .body .item{
}
.user-info .user-info-card .cards  .order-entry:hover{
    cursor: pointer;
    background-color: #AAAAAA;
}
.user-info .user-info-card .cards  .address-entry{
    margin-top: 10px;
    font-size: 14px;
    padding: 15px 20px;
    box-shadow: 1px 1px 1px #CCCCCC;
}
.user-info .user-info-card .cards  .address-entry:hover{
    cursor: pointer;
    background-color: #AAAAAA;
}