.user-info{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.user-info .user-info-card{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: stretch;
}
.user-info .user-info-card .header{
    background-color: ghostwhite;
    position: relative;
    padding: 20px 15px;
    box-shadow: 1px 1px 3px #AAAAAA;
}
.user-info .user-info-card .header .user-information{
    display: flex;
}
.user-info .user-info-card .header .user-information .avater-con{
    display: flex;
    justify-content: space-evenly;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 30px;
}
.user-info .user-info-card .header .user-information .avater-con .avater{
    width: 60px;
}
.user-info .user-info-card .header .user-information .username{
    padding: 13px 20px;
    font-size: 18px;
    text-align: center;
}
.user-info .user-info-card .cards{
    background-color: lavender;
    flex: 1;
}
.user-info .user-info-card .cards .order-entry{
    background-color: ghostwhite;
    font-size: 14px;
    padding: 15px 20px;
    margin: 10px 10px;
    box-shadow: 1px 1px 1px #CCCCCC;
}
.user-info .user-info-card .cards .order-entry .baseline{
    margin:5px 0;
    height: 1px;
    background-color: #CCCCCC;
}
.user-info .user-info-card .cards .order-entry .head{
    display: flex;
    justify-content: space-between;
}
.user-info .user-info-card .cards .order-entry .head .main{
    font-weight: bold;
    letter-spacing: 0.5px;
}
.user-info .user-info-card .cards .order-entry .head .icon{
    font-size: medium;
    align-self: center;
}
.user-info .user-info-card .cards .order-entry .body{
    display: flex;
    justify-content: space-around;
}
.user-info .user-info-card .cards .order-entry .body .item{
    padding: 2px;
    text-align: center;
}
.user-info .user-info-card .cards .order-entry .body .item .icon{
    font-size: x-large;
    padding-bottom: 1px;
    color: indianred;
}
.user-info .user-info-card .cards .order-entry .body .item .text{
    font-size: 11px;
}
.user-info .user-info-card .cards  .order-entry:hover{
    cursor: pointer;
    background-color: #AAAAAA;
}
.user-info .user-info-card .cards  .address-entry{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    font-size: 14px;
    padding: 15px 20px;
    box-shadow: 1px 1px 1px #CCCCCC;
    background-color: ghostwhite;
}
.user-info .user-info-card .cards  .address-entry .main{
    font-weight: bold;
    letter-spacing: 0.5px;
}
.user-info .user-info-card .cards  .address-entry .icon{
    font-size: medium;
    align-self: center;
}
.user-info .user-info-card .cards  .address-entry:hover{
    cursor: pointer;
    background-color: #AAAAAA;
}
.user-info .bottom{
}